// Import
@import "colors.scss";
@import "fonts.scss";

.flexbox {
  margin: 1rem;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: $color-pink-light;

    > .flex-item {
      flex: 1;
      background-color: $color-orange;
      color: $color-background;
      padding: 20px;
      margin: 10px;
      text-align: center;
      font-size: 1.2rem;

      &:hover {
        background-color: lighten($color-orange, 10%);
      }

      &:nth-of-type(2) {
        flex: 2;
      }
    }
  }
}
