// Import
@import "colors.scss";
@import "fonts.scss";

// Extend
%style-container {
  background-color: $color-pink-light;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section.gridbox {
  margin: 1rem;
}

// Ejemplo basico
.grid-container {
  grid-gap: 20px;
  @extend %style-container;

  .grid-item {
    background-color: $color-orange;
    color: $color-background;
    padding: 20px;
    text-align: center;

    &:hover {
      background-color: lighten($color-orange, 10%);
    }
  }
}

// Ejemplo template areas
.item-a {
  grid-area: header;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.grid-template-container {
  @extend %style-container;
  grid-template-rows: 4rem 10rem 4rem;
  grid-gap: 20px;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";

  > div {
    color: $color-background;
    background-color: $color-orange;
    padding: 20px;
    text-align: center;

    &:hover {
      background-color: lighten($color-orange, 10%);
    }
  }
}
