@import "colors.scss";
@import "fonts.scss";

.header {
  background: $color-text;
  padding: 1rem;
  > div {
    font-family: $font-title;
    color: $color-background;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: inline-block;
  }

  > nav {
    display: inline-flex;
    float: right;
    .navigation {
      &:not(:last-of-type) {
        border-right: 1px solid $color-background;
        margin-right: 5px;
        padding-right: 5px;
      }

      > a {
        color: $color-background;
      }
    }
  }
}
