<section class="header">
  <div>Grupo de estudio</div>
  <nav>
    <div class="navigation">
      <a class="nav-link" [routerLink]="['home']">Inicio</a>
    </div>
    <div class="navigation">
      <a class="nav-link" [routerLink]="['sass']">Grupos</a>
    </div>
    <div class="navigation">
      <a class="nav-link" [routerLink]="['flexbox']">Integrantes</a>
    </div>
    <div class="navigation">
      <a class="nav-link" [routerLink]="['gridbox']">Crear Grupo</a>
    </div>
  </nav>
</section>
