@import "colors.scss";
@import "fonts.scss";

$color-orange: orange;

.home {
  background: url(../../../assets/img/background.png);
  height: 100vh;
  background-size: cover;
  background-repeat: round;
  text-align: center;
  padding-top: 22vh;

  > h1 {
    font-family: "Bebas+Neue", sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    border-bottom: 1px solid $color-orange;
    margin: 0 10rem 10px 10rem;
    padding-bottom: 10px;
    font-weight: 300;
  }

  > nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 2rem;
    text-decoration: none;

    a {
      text-decoration: none;
      color: $color-orange;
    }
  }
}
