// Import partial
@use "_partial_example";

// Import
@import "colors.scss";
@import "fonts.scss";

// Variables
$primary-color: $color-orange;

// Variable using partial class
$box-size: partial_example.$size_container;

// Mixin
@mixin box-shadow($color: blue) {
  box-shadow: 0 4px 8px $color;
}

// Extend
%border-radius {
  border-radius: 5px;
}

// Conditional Function
@function lighten-or-darken($color, $amount) {
  @if lightness($color) > 20 {
    @return lighten($color, $amount);
  } @else {
    @return darken($color, $amount);
  }
}

.sass-example {
  margin: 1rem;

  > .box-container {
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    flex-wrap: wrap;
    background: $color-pink-light;
    padding: 2rem;

    .box {
      width: $box-size;
      height: $box-size;
      background-color: $primary-color;
      @include box-shadow(black);
      @extend %border-radius;
      margin: 20px auto;
      transition: background-color 0.3s;

      &:hover {
        background-color: lighten-or-darken($primary-color, 10%);
      }
    }
  }
}
